###### Set UP DATABASE

In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.2.0-py2.py3-none-any.whl (593 kB)
     |████████████████████████████████| 593 kB 970 kB/s eta 0:00:01
Collecting protobuf<=4.21.12,>=4.21.1
  Downloading protobuf-4.21.12-cp37-abi3-macosx_10_9_universal2.whl (486 kB)
     |████████████████████████████████| 486 kB 598 kB/s eta 0:00:01
Installing collected packages: protobuf, mysql-connector-python
  Attempting uninstall: protobuf
    Found existing installation: protobuf 3.20.0
    Uninstalling protobuf-3.20.0:
      Successfully uninstalled protobuf-3.20.0
Successfully installed mysql-connector-python-8.2.0 protobuf-4.21.12
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector as connector
connection=connector.connect(user="admin",password="admin")

InterfaceError: 2003: Can't connect to MySQL server on '127.0.0.1:3306' (61 Connection refused)

In [ ]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

In [ ]:
cursor = connection.cursor()

In [5]:
try:
    cursor.execute("CREATE DATABASE little_lemon_db")
except:
    cursor.execute("DROP DATABASE little_lemon_db")
    cursor.execute("CREATE DATABASE little_lemon_db")

cursor.execute("USE little_lemon_db")

###### IMPLEMENT QUERY AND STORED PROCEDURE

In [6]:
# The SQL query for the MenuItems table is: 
create_menuitem_table="""
CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

# Create MenuItems table
cursor.execute(create_menuitem_table)
print("MenuItems table is created.\n")

MenuItems table is created.

In [7]:
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1,'Olives','Starters',5),
(2,'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10,'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

print("Inserting data in MenuItems table.")
# Populate MenuItems table
cursor.execute(insert_menuitems)
print("Total number of rows in MenuItem table: {}\n".format(cursor.rowcount))
# Once the query is executed,  commit the change to the database 
connection.commit()

Inserting data in MenuItems table.
Total number of rows in MenuItem table: 17

In [8]:
create_menu_table="""
CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID, ItemID)
);"""

# Create Menus table
cursor.execute(create_menu_table)
print("Menu table is created.\n")

Menu table is created.

In [9]:
insert_menus="""
INSERT INTO Menus (MenuID, ItemID, Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

print("Inserting data in Menus table.")
# Populate Menus table
cursor.execute(insert_menus)
print("Total number of rows in Menu table: {}\n".format(cursor.rowcount))
connection.commit()

Inserting data in Menus table.
Total number of rows in Menu table: 12

In [10]:
create_booking_table="""
CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

# Create Bookings table
cursor.execute(create_booking_table)
print("Bookings table is created.\n")

Bookings table is created.

In [11]:
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1,12,'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

print("Inserting data in Bookings table.")
# Populate Bookings table
cursor.execute(insert_bookings)
print("Total number of rows in Bookings table: {}\n".format(cursor.rowcount))
connection.commit()

Inserting data in Bookings table.
Total number of rows in Bookings table: 6

In [12]:
create_orders_table="""
CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

# Create Orders table
cursor.execute(create_orders_table)
print("Orders table is created.\n")

Orders table is created.

In [13]:
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

print("Inserting data in Orders table.")
# Populate Orders table
cursor.execute(insert_orders)
print("Total number of rows in Orders table: {}\n".format(cursor.rowcount))
connection.commit()

Inserting data in Orders table.
Total number of rows in Orders table: 5

In [14]:
create_employees_table="""
CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT,
Name VARCHAR(200),
Role VARCHAR(100),
Address VARCHAR(200),
Contact_Number INT,
Email VARCHAR(100),
Annual_Salary VARCHAR(100),
PRIMARY KEY (EmployeeID)
);"""

# Create Employees table
cursor.execute(create_employees_table)

In [15]:
insert_employees="""
INSERT INTO Employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES
(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""


print("Inserting data in the Employees table.")
# Populate Employees table
cursor.execute(insert_employees)
print("Total number of rows in the Employees table: ", cursor.rowcount)
# Once the query is executed, you can commit the change to the database 
connection.commit()

Inserting data in the Employees table.
Total number of rows in the Employees table:  6

##### Implement connection poll

In [22]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

dbconfig = {
    "database":"little_lemon_db",
    "user" : "admin",
    "password" : "admin"
}

try:
    pool = MySQLConnectionPool(pool_name = "pool_a",
                           pool_size = 2, #default is 5
                           **dbconfig)
    print("The connection pool is created with a name: ",pool.pool_name)
    print("The pool size is:",pool.pool_size)

except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

The connection pool is created with a name:  pool_a
The pool size is: 2

In [20]:
connection1 = pool.get_connection()
cursor = connection1.cursor()

##### Implement a stored procedure for PeakHours

In [21]:
cursor.execute("DROP PROCEDURE IF EXISTS PeakHours;")
stored_procedure_peakhours_query="""
CREATE PROCEDURE PeakHours()
BEGIN
    SELECT 
    HOUR(BookingSlot) AS booking_hour,
    COUNT(HOUR(BookingSlot)) AS n_bookings
    FROM Bookings
    GROUP BY booking_hour
    ORDER BY n_bookings DESC;
END
"""
cursor.execute(stored_procedure_peakhours_query)

In [23]:
cursor.callproc("PeakHours")
results = next(cursor.stored_results() )
dataset = results.fetchall()
#retrieve column
for column_id in cursor.stored_results():
    columns = [column[0] for column in column_id.description]

print(columns)
for data in dataset:
    print(data)

['booking_hour', 'n_bookings']
(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

#### Implement stored procedure GuestStatus

In [24]:
stored_procedure_gueststatus_query="""
CREATE PROCEDURE GuestStatus()
BEGIN
SELECT 

    Bookings.BookingID AS OrderNumber,  
    CONCAT(GuestFirstName,' ',GuestLastName) AS GuestName, 
    Role AS Employee, 
    CASE 
        WHEN Role IN ('Manager','Assistant Manager') THEN "Ready to Pay"
        WHEN Role = 'Head Chef' THEN "Ready to serve"
        WHEN Role = 'Assistant Chef' THEN "Preparing order"
        WHEN Role = 'Head Waiter' THEN "Order served"
    ELSE "Pending"
    END AS Status
    FROM Bookings 
        LEFT JOIN 
        Employees 
        ON Employees.EmployeeID=Bookings.EmployeeID;
END
"""
cursor.execute(stored_procedure_gueststatus_query)

In [63]:
cursor.callproc("GuestStatus")
results = next(cursor.stored_results())
dataset = results.fetchall()

# Retrieve column 
for column_id in cursor.stored_results():
    columns = [column[0] for column in column_id.description]

print(columns)
for data in dataset:
    print(data)
    
connection.close()

['OrderNumber', 'GuestName', 'Employee', 'Status']
(1, 'Anna Iversen', 'Manager', 'Ready to Pay')
(2, 'Joakim Iversen', 'Manager', 'Ready to Pay')
(3, 'Vanessa McCarthy', 'Head Chef', 'Ready to serve')
(4, 'Marcos Romero', 'Assistant Chef', 'Preparing order')
(5, 'Hiroki Yamane', 'Assistant Manager', 'Ready to Pay')
(6, 'Diana Pinto', 'Head Waiter', 'Order served')
(7, 'Anees Java', 'Receptionist', 'Pending')
(8, 'Bald Vin', 'Receptionist', 'Pending')
(9, 'Jay Kon', 'Receptionist', 'Pending')

###### LITTLE LEMON ANALYSIS AND SALES REPORT

In [28]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

dbconfig = {
    "database":"little_lemon_db",
    "user" : "admin",
    "password" : "admin"
}

try:
    poolConnect = MySQLConnectionPool(pool_name = "pool_b",pool_size = 2,**dbconfig)
    print("The connection pool is created with the name: ",poolConnect.pool_name)
    print("The pool size is:",poolConnect.pool_size)

except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

The connection pool is created with the name:  pool_b
The pool size is: 2

In [29]:
#guest 1
connection1 = poolConnect.get_connection()
c1 = connection1.cursor()
booking1 = """
INSERT INTO Bookings 
    (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES
    (8,'Anees','Java','18:00:00',6);"""
c1.execute(booking1)
connection1.commit()

In [30]:
#guest 2
connection2 = poolConnect.get_connection()
c2 = connection2.cursor()
booking2 = """
INSERT INTO Bookings 
    (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES
    (5, 'Bald','Vin','19:00:00',6);"""
c2.execute(booking2)
connection2.commit()

In [32]:
try:
    connection3 = poolConnect.get_connection()
    print("The guest is connected")
except:
    print("Adding new connection in the pool.")
    connection=connector.connect(user="admin",password="admin")
    
    poolConnect.add_connection(cnx=connection)
    print("A new connection is added in the pool.\n")
    
    connection3 = poolConnect.get_connection()
    print("'connection3' is added in the pool.")

Adding new connection in the pool.
A new connection is added in the pool.

'connection3' is added in the pool.

In [33]:
#guest 3
c3=connection3.cursor()
booking3="""INSERT INTO Bookings 
    (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES
    (12, 'Jay','Kon','19:30:00',6);"""
c3.execute(booking3)
connection3.commit()

In [76]:
#Close all  connections
from mysql.connector import Error
for connection in [connection1,connection2, connection3]:
    try:
        connection.close()
        print("Connection is returned to the pool")
    except Error as er:
        print("\nConnection can't be returned to the pool")
        print("Error message:", er.msg)

Connection can't be returned to the pool
Error message: Failed adding connection; queue is full

Connection can't be returned to the pool
Error message: Failed adding connection; queue is full

Connection can't be returned to the pool
Error message: Failed adding connection; queue is full

In [77]:
# Get a connection from pool_a and create a cursor object
connection = pool.get_connection()
cursor=connection.cursor()
print("""The cursor object "cursor" is created.""")

The cursor object "cursor" is created.

In [67]:
# The name and EmployeeID of the Little Lemon manager.
query_select_get_llm = """
SELECT 
    Name, EmployeeID 
FROM Employees 
    WHERE Role = 'Manager'
"""
cursor.execute(query_select_get_llm)
results=cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

('Name', 'EmployeeID')
('Mario Gollini', 1)

In [68]:
# The name and role of the employee who receives the highest salary.
query_select_highest_salary = """
SELECT 
    Name, EmployeeID 
FROM Employees ORDER BY 
    Annual_Salary DESC LIMIT 1
"""
cursor.execute(query_select_highest_salary)
results=cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

('Name', 'EmployeeID')
('Mario Gollini', 1)

In [69]:
# The number of guests booked between 18:00:00 and 20:00:00.
query_select_booked_beetwen = """
SELECT 
    COUNT(BookingID) n_booking_between_18_20_hrs
FROM Bookings 
    WHERE BookingSlot BETWEEN '18:00:00' AND '20:00:00';
"""
cursor.execute(query_select_booked_beetwen)
results=cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

('n_booking_between_18_20_hrs',)
(7,)

In [70]:
# Full name and the BookingId of each guest  waiting to be seated  
# with the receptionist in sorted order with respect to their BookingSlot.

cursor.execute("""
SELECT 
    Bookings.BookingID AS ID,  
    CONCAT(GuestFirstName,' ',GuestLastName) AS GuestName, 
    Role AS Employee
FROM Bookings 
    LEFT JOIN Employees 
    ON Employees.EmployeeID=Bookings.EmployeeID
    WHERE Employees.Role = "Receptionist"
    ORDER BY BookingSlot DESC;
""")
print("The following guests are waiting to be seated:")
results=cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

The following guests are waiting to be seated:
('ID', 'GuestName', 'Employee')
(9, 'Jay Kon', 'Receptionist')
(8, 'Bald Vin', 'Receptionist')
(7, 'Anees Java', 'Receptionist')

In [80]:
# Create a stored procedure named BasicSalesReport. 
cursor.execute("DROP PROCEDURE IF EXISTS BasicSalesReport;")

stored_procedure_query_bassic_sales_report="""
CREATE PROCEDURE BasicSalesReport()
BEGIN
    SELECT 
        SUM(BillAmount) AS Total_Sale,
        AVG(BillAmount) AS Average_Sale,
        MIN(BillAmount) AS Min_Bill_Paid,
        MAX(BillAmount) AS Max_Bill_Paid
    FROM Orders;
END
"""
cursor.execute(stored_procedure_query_bassic_sales_report)
cursor.callproc("BasicSalesReport")

# Retrieve records in "dataset"
results = next(cursor.stored_results())
results = results.fetchall()

# Retrieve column names using list comprehension in a for loop 
for column_id in cursor.stored_results():
    cols = [column[0] for column in column_id.description]
    
print("Today's sales report:")
for result in results:
    print("\t",cols[0],":",result[0])
    print("\t",cols[1],":",result[1])
    print("\t",cols[2],":",result[2])
    print("\t",cols[3],":",result[3])

Today's sales report:
	 Total_Sale : 243
	 Average_Sale : 48.6000
	 Min_Bill_Paid : 37
	 Max_Bill_Paid : 86

In [81]:
# display the next 10 upcoming bookings from the Bookings
cursor.execute("DROP PROCEDURE IF EXISTS UpcomingBookings;")
stored_procedure_query_UpcomingBookings="""
CREATE PROCEDURE UpcomingBookings()
BEGIN
select 
	CONCAT("BookingSlot"," ", b.BookingSlot) as bookingSlot,
	CONCAT("Guest_name:"," ", CONCAT(b.GuestFirstName," ",b.GuestLastName)) as Guest_name,
	CONCAT("Asign to:"," ", CONCAT(e.Name, " [", e.Role, "]")) AS assign_to
from Bookings b
INNER JOIN 
Employees e
ON e.EmployeeID=b.EmployeeID
order by b.BookingID desc limit 10;
END
"""
cursor.execute(stored_procedure_query_UpcomingBookings)

In [82]:
cursor.callproc("UpcomingBookings")
results = next(cursor.stored_results())
results = results.fetchall()

for result in results:
    print("\n",result[0])
    print("\t",result[1])
    print("\t",result[2])
connection.close()

 BookingSlot 19:30:00
	 Guest_name: Jay Kon
	 Asign to: John Millar [Receptionist]

 BookingSlot 19:00:00
	 Guest_name: Bald Vin
	 Asign to: John Millar [Receptionist]

 BookingSlot 18:00:00
	 Guest_name: Anees Java
	 Asign to: John Millar [Receptionist]

 BookingSlot 20:00:00
	 Guest_name: Diana Pinto
	 Asign to: Elena Salvai [Head Waiter]

 BookingSlot 18:30:00
	 Guest_name: Hiroki Yamane
	 Asign to: Adrian Gollini [Assistant Manager]

 BookingSlot 17:30:00
	 Guest_name: Marcos Romero
	 Asign to: Fatma Kaya [Assistant Chef]

 BookingSlot 15:00:00
	 Guest_name: Vanessa McCarthy
	 Asign to: Giorgos Dioudis [Head Chef]

 BookingSlot 19:00:00
	 Guest_name: Joakim Iversen
	 Asign to: Mario Gollini [Manager]

 BookingSlot 19:00:00
	 Guest_name: Anna Iversen
	 Asign to: Mario Gollini [Manager]